.admin-console {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

.admin-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.admin-main {
  padding: 2rem;
  overflow-y: auto;
  height: 100%;
  
}
