.admin-topbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-bottom: 1px solid #e3e6f0;

  gap: 1rem;

  @media (max-width: 768px) {
    padding: 1rem;
    flex-wrap: wrap;
  }
}

.admin-header-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
  padding-right: 1rem;
}

.admin-header-tools {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 768px) {
    gap: 1rem;
  }
}

.admin-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .admin-search {
    padding: 0.5rem 1rem;
    padding-right: 2.25rem;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f1f1f1;
    outline: none;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .admin-search-icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
    display: block;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.theme-toggle-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.2rem 0.5rem;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}

.admin-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #2f80ed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  object-fit: cover;
  position: relative;
}

.back-to-user-btn {
  background: transparent;
  border: 0.5px solid #ccc;
  padding: 0.1em 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  color: rgb(142, 142, 142);
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--hover)
  }

  .back-text {
    display: inline;
  }

  @media (max-width: 768px) {
    padding: 0.4rem 0.6rem;
    font-size: 0;
    border: none;
    background: none;

    &::before {
      content: '←';
      font-size: 1.4rem;
    }

    .back-text {
      display: none;
    }
  }
}

.profile-dropdown {
  position: relative;

  .profile-dropdown-menu {
    position: absolute;
    top: 2.5rem;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    overflow: hidden;
    min-width: 160px;
    z-index: 100;

    .dropdown-item {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0.75rem 1rem;
      font-size: 0.9rem;
      color: #333;
      background: white;
      border: none;
      cursor: pointer;
      text-decoration: none;
      transition: background 0.2s ease;

      &:hover {
        background: #f7f7f7;
      }
    }
  }
}
