
@use './admin_tables';

.admin-inventory {
  .user-table {
    td ul {
      padding-left: 1rem;
      list-style-type: disc;

      li {
        margin-bottom: 0.25rem;
      }
    }

    select {
      min-width: 120px;
    }

    button {
      margin-top: 0.25rem;
    }
  }
}
