body {
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-size: var(--body-font-size, 14px);
    background: radial-gradient(circle at top, #192133 10%, #0c111b 80%);
    background-attachment: fixed;
    color: var(--text);
    transition:
      background 0.5s,
      color 0.5s;
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }