/* Light Theme */
body[data-theme="light"] {
  --bg-color: #F3F3F6;
  --text-color: #111111;
  --card-bg: linear-gradient(135deg, #dfe9f3 0%, #ffffff 100%);
  --primary-accent:#4fc3f7;
  --glass-button-text: #f5f5f5;
  --border-color: rgba(0, 0, 0, 0.05);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --input-bg: #ffffff;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --accent-grad:  linear-gradient(0deg, #798181, #003b5c);
}

/* Dark Theme */
body[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --card-bg: radial-gradient(circle at top, #192133 10%, #0c111b 80%);
  --primary-accent: #4fc3f7;
  --glass-button-text: #ffffff
  --border-color: rgba(255, 255, 255, 0.05);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --input-bg: #1e1e1e;
  --placeholder-color: rgba(255, 255, 255, 0.5);
  --accent-grad: 
}
